# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeSettings.json
Makefile
*.cmake
!CMakeLists.txt

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
*.log
*.tlog
*.ilk
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc